<div id="fb3d-ctx" class="flip-book">
  <div class="view">
    <div class="fnav">
      <div class="prev">
        <a class="cmdBackward" href="#"><span class="icon"><i class="fa fa-angle-left"
              title="<$tr>Previous page</$tr>"></i></span></a>
      </div>
      <div class="next">
        <a class="cmdForward" href="#"><span class="icon"><i class="fa fa-angle-right"
              title="<$tr>Next page</$tr>"></i></span></a>
      </div>
    </div>
    <!-- <div class="widLoadingProgress loading-progress hidden">
      <div class="progress">
      </div>
      <div class="txtLoadingProgress caption">
      </div>
    </div>
    <div class="widLoading page-loading hidden">
    </div> -->
  </div>

  <div class="widFloatWnd float-wnd hidden">
    <div class="header">
      <$tr>Mục lục</$tr>
      <a href="#" title="<$tr>Đóng</$tr>" class="close cmdCloseToc">
        <span class="icon"><i class="fa fa-times"></i></span>
      </a>
    </div>
    <div class="body">
      <div class="ctrl">
        <div class="toc">
          <div class="toc-menu widTocMenu">
            <ul>
              <li class="cmdBookmarks"><a href="#">
                  <$tr>Dấu trang</$tr>
                </a></li>
              <li class="cmdThumbnails"><a href="#">
                  <$tr>Ảnh trang</$tr>
                </a></li>
              <li class="cmdSearch"><a href="#">
                  <$tr>Tìm kiếm</$tr>
                </a></li>
            </ul>
          </div>
          <div class="widBookmarks toc-view">

          </div>
          <div class="widThumbnails toc-view">

          </div>
          <div class="widSearch toc-view">

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="controls">

    <div class="ctrl js-center">
      <nav class="fnavbar">
        <ul class="fnav">

          <li class="fnav-item cmdZoomIn"><a href="#"><span class="icon"><i class="fa fa-search-plus"
                  title="<$tr>Phóng to</$tr>"></i></span></a></li>
          <li class="fnav-item cmdZoomOut"><a href="#"><span class="icon"><i class="fa fa-search-minus"
                  title="<$tr>Thu nhỏ</$tr>"></i></span></a></li>
          <li class="fnav-item cmdDefaultZoom"><a href="#"><span class="icon"><i class="fa fa-compress"
                  title="<$tr>Vừa màn hình</$tr>"></i></span></a></li>
          <li class="fnav-item cmdToc"><a href="#"><span class="icon"><i class="fa fa-bookmark"
                  title="<$tr>Mục lục</$tr>"></i></span></a></li>
          <li class="fnav-item cmdFastBackward"><a href="#"><span class="icon"><i class="fa fa-fast-backward"
                  title="<$tr>Lùi 10 trang</$tr>"></i></span></a></li>
          <li class="fnav-item cmdBackward"><a href="#"><span class="icon"><i class="fa fa-backward"
                  title="<$tr>Trang trước</$tr>"></i></span></a></li>
          <li class="fnav-item">
            <div class="pages">
              <input type="text" class="number inpPage" maxlength="4" placeholder="1">
              <input type="text" class="amount inpPages" readOnly maxlength="4" placeholder="1">
            </div>
          </li>
          <li class="fnav-item cmdForward"><a href="#"><span class="icon"><i class="fa fa-forward"
                  title="<$tr>Trang sau</$tr>"></i></span></a></li>
          <li class="fnav-item cmdFastForward"><a href="#"><span class="icon"><i class="fa fa-fast-forward"
                  title="<$tr>Tiến 10 trang</$tr>"></i></span></a></li>
          <li class="fnav-item cmdSave"><a href="#"><span class="icon"><i class="fa fa-download"
                  title="<$tr>Tải xuống</$tr>"></i></span></a></li>
          <!-- <li class="fnav-item cmdPrint"><a href="#"><span class="icon"><i class="fa fa-print"  title="<$tr>Print</$tr>"></i></span></a></li> -->
          <li class="fnav-item cmdFullScreen"><a href="#"><span class="icon"><i class="fa fa-arrows-alt"
                  title="<$tr>Toàn màn hình</$tr>"></i></span></a></li>
          <li class="dropup fnav-item toggle widSettings">
            <a href="#">
              <div class="icon-caret"><span class="icon"><i class="fa fa-cog" title="<$tr>Cài đặt</$tr>"></i> <i
                    class="caret"></i></span></div>
            </a>
            <ul class="menu hidden">
              <li class="cmdSmartPan"><a href="#"><span class="icon"><i class="fa fa-eye"></i></span>
                  <$tr>Chế độ thông minh</$tr>
                </a></li>
              <li class="cmdSinglePage"><a href="#"><span class="icon"><i class="fa fa-file-o"></i></span>
                  <$tr>Trang đơn</$tr>
                </a></li>
              <li class="cmdSounds"><a href="#"><span class="icon"><i class="fa fa-volume-up"></i></span>
                  <$tr>Âm thanh</$tr>
                </a></li>
              <li class="divider"></li>
              <li class="cmdLightingUp"><a href="#"><span class="icon"><i class="fa fa-chevron-up"></i></span>
                  <$tr>Tăng độ sáng</$tr>
                </a></li>
              <li class="cmdLightingDown"><a href="#"><span class="icon"><i class="fa fa-chevron-down"></i></span>
                  <$tr>Giảm độ sáng</$tr>
                </a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>

  </div>
</div>